.entry {
    float: left;
    margin: 0 .8rem;
}

.link:hover {
    text-decoration: none;
}

.header {
    color: white;
    background-color: #073642;
}

.list-group,
.sub-title {
    color: #363F40;
}

.nav-link {
    color: #10403C;
}